<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkhayo7SYdn2wYq1Yan_GVYxgt5jm0OdM</string>
	<key>GCM_SENDER_ID</key>
	<string>374453007268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savas.farmdrivermobile</string>
	<key>PROJECT_ID</key>
	<string>farmdrivermobilefirenotifier</string>
	<key>STORAGE_BUCKET</key>
	<string>farmdrivermobilefirenotifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374453007268:ios:eef1aed64efd4db5c08731</string>
</dict>
</plist>